/*************** IMPORT DE POLICES *******************/ 


/*************** VARIABLES *******************/ 


/*************** RÈGLES GÉNÉRALES *******************/


/*************** GRILLES *******************/ 
main {

display: flex;    
flex-direction: row;
height: 100%;

}

main img{
    width: 63.rem;
    height: 21rem;
}

#heroshot{
    width: 50%;
    height: 1080px;
   background-image: url(../img/heroshots/hero-connexion.jpeg);
   background-position: center;
   background-size: cover;
    text-align: center;
    padding-top: 3.6rem;

}

#form{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
}

form{
    width: 46.6rem;
    padding: 48px;
    background-color: var(--bg-primary);
    border-radius: 15px;
    height: auto;
}


::placeholder{
    padding-left: 1rem;
    font-weight: 600;
}

/*************** TITRES ET TEXTES *******************/ 

h2{
    font-family: 'Calistoga';
    font-style: normal;
    font-weight: 400;
    font-size: 52px;
    color: white;
    }


/*************** BOUTONS *******************/ 



button{
    background-color: #F1F0E6;
    border-radius: 20px;
    margin-top: 2rem;
    margin-bottom: 2rem;
    width: 45%;
    font-family: 'Nunito Sans', sans-serif;
    font-size: 1.2rem;
    font-weight: 500;
    color: black;
    box-shadow: -1px 1px rgba(0,0,0,0), -2px 2px rgba(0,0,0,0), -3px 3px rgba(0,0,0,0), -4px 4px rgba(0,0,0,0);
    border: solid 2px  rgba(0,0,0,0);
}



#creation{
    width: 100%;
}



/*************** FORMULAIRES *******************/ 

.form-control{
    border-radius: 30px;
    font-family: 'Futura';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #606263;
    border: none;
    }
    
    hr{
        border: 0;
        height: 2px;
        background: white;
        opacity: 1;
    }


/*************** ICONOGRAPHIE *******************/ 

i.sticker-win::before{
    background-image: url(../img/stickers/win.svg);
    left: -13rem;
    top: 0rem;
}

i.sticker-hello::before{
    background-image: url(../img/stickers/hello.svg);
    right: -12rem;
    top: -13rem;
}
