{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}
{% block stylesheets %}
<link rel="stylesheet" href="/css/test-formulaire10ci.css">
{% endblock %}

{% block body %}

<!-- DEBUT NAV --> 
<nav class="navbar navbar-expand-lg">

    <div class="container-fluid">
    
        <a class="navbar-brand" href="{{path('app_landing')}}"> <img src="img/logo-buddies_1.svg" alt=""> </a>
    
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
    </div>
    </nav>
<!-- FIN NAV -->
    <main>
        <section class="container-fluid">
            <div id="centrage-ecran" class="d-flex flex-column justify-content-center">
                <h2 class="text-center mt-5">Les activités que vous aimeriez faire</h2>
                <div class="d-flex justify-content-center mt-5">
                    <div class="d-flex flex-column align-items-end col-6">
                        <div class="card-formulaire align-self-center w-100 px-3 py-3">
                            <div class="d-flex justify-content-around my-4">
                                <div class="form-check d-flex align-items-center justify-content-evenly">
                                    <input class="form-check-input" type="checkbox" id="flexRadioDefault1">
                                    <label class="form-check-label" for="defaultCheck1">
                                        Exposition
                                    </label>
                                </div>
                                <div class="form-check d-flex align-items-center justify-content-evenly">
                                    <input class="form-check-input" type="checkbox" id="flexRadioDefault1">
                                    <label class="form-check-label" for="defaultCheck1">
                                       Dégustation
                                    </label>
                                </div>
                                <div class="form-check d-flex align-items-center justify-content-evenly">
                                    <input class="form-check-input" type="checkbox" id="flexRadioDefault1">
                                    <label class="form-check-label" for="defaultCheck1">
                                        Sport
                                    </label>
                                </div>
                            </div>
                            <div class="d-flex justify-content-around my-4">
                                <div class="form-check d-flex align-items-center justify-content-evenly">
                                    <input class="form-check-input" type="checkbox" id="flexRadioDefault1">
                                    <label class="form-check-label" for="defaultCheck1">
                                        Découverte
                                    </label>                           
                                </div>
                                <div class="form-check d-flex align-items-center justify-content-evenly">
                                    <input class="form-check-input" type="checkbox" id="flexRadioDefault1">
                                    <label class="form-check-label" for="defaultCheck1">
                                       Randonnée
                                    </label>
                                </div>
                                <div class="form-check d-flex align-items-center justify-content-evenly">
                                    <input class="form-check-input" type="checkbox" id="flexRadioDefault1">
                                    <label class="form-check-label" for="defaultCheck1">
                                        Bowling
                                    </label>                            
                                </div>
                            </div>
                            <div class="d-flex justify-content-around my-4">
                                <div class="form-check d-flex align-items-center justify-content-evenly">
                                    <input class="form-check-input" type="checkbox" id="flexRadioDefault1">
                                    <label class="form-check-label" for="defaultCheck1">
                                        Pique-nique
                                    </label>   
                                </div>
                                <div class="form-check d-flex align-items-center justify-content-evenly">
                                    <input class="form-check-input" type="checkbox" id="flexRadioDefault1">
                                    <label class="form-check-label" for="defaultCheck1">
                                       Jeux de société
                                    </label>
                                </div>
                                <div class="form-check d-flex align-items-center justify-content-evenly">
                                    <input class="form-check-input" type="checkbox" id="flexRadioDefault1">
                                    <label class="form-check-label" for="defaultCheck1">
                                       Faire la fête
                                    </label>
                                </div>
                            </div>
                            <div class="d-flex justify-content-end">
                                <a href="{{path('app_register_step17')}}"><button class="my-4 text-black" id="btn" type="button">Retour</button></a>
                                <a href="{{path('app_register_step19')}}"><button class="my-4 ms-2 text-black" id="btn" type="button">Suivant</button></a>
                            </div>
                        </div>
                    </div>
                </div>
        </section>
    </main>
{% endblock %}

